<h1>Survey</h1>

<h3>Dear Sir/Madam,</h3>
					
<h3>Greetings! We are students from the Service, Science, and Software Engineering (S3) laboratory in the Department of Computer Science conducting our thesis for the University Human Resource Information System (UHRIS). With that, we are asking for your help in evaluating the system by answering this questionnaire.</h3>

<h3>This questionnaire has been designed for weighing software quality factors of a UHRIS. In our research, we have identified six quality factors that are important in evaluating the system: Functionality, Reliability, Usability, Efficiency, Maintainability and Portability. These quality factors will be further divided into quality subfactors composing the 2nd level of our quality model. The weighing of the quality subfactors will be done through the next survey after we have identified which subfactors will be used for UHRIS. Your opinion helps us determine the degree of importance of them.</h3>

<h3>The goal of the questionnaire is to obtain the strength of preference of quality factors using Mutual Comparison Method, in which each quality factor is compared to each other. In the second survey, the relative importance of quality subfactors under the common quality factors will be obtained.</h3>
					
<h3>Thank you very much for your attention and time.</h3>
			

<h3>Regards,</h3>


<h3>___________________</h3>
<h3>Treacy Evangelista</h3>


<h3>___________________</h3>
<h3>Cyan Villarin</h3>


<h3>___________________</h3>
<h3>Roy Vincent Canseco</h3>
<h3>Thesis Adviser</h3>

<%= link_to 'Take the Survey', new_survey_path %>
