<div class="ui container middle aligned" style="text-align: left">	
	<div class="ui raised very padded segment" style="margin-top: 100px">
		<%= image_tag 'updlogo-256x256.png', class: 'ui centered tiny image' %>
		<h1 class="ui center aligned header">Survey</h1>

		<p>Dear Sir/Madam,</p>
							
		<p>Greetings! We are students from the Service, Science, and Software Engineering (S3) laboratory in the Department of Computer Science conducting our thesis for the University Human Resource Information System (UHRIS). With that, we are asking for your help in evaluating the system by answering this questionnaire.</p>

		<p>This questionnaire has been designed for weighing software quality factors of a UHRIS. In our research, we have identified eight (8) quality factors that are important in evaluating the system: Functional Suitability, Reliability, Performance Efficiency, Security, Operability, Compatibility, Maintainability and Transferability. These quality factors will be further divided into quality subfactors composing the 2nd level of our quality model. The weighing of the quality subfactors will be done through the next survey after we have identified which subfactors will be used for UHRIS. Your opinion helps us determine the degree of importance of them.</p>

		<p>The goal of the questionnaire is to obtain the strength of preference of quality factors using Mutual Comparison Method, in which each quality factor is compared to each other. In the second survey, the relative importance of quality subfactors under the common quality factors will be obtained.</p>
							
		<p>Thank you very much for your attention and time.</p>
					

		<p>Regards,</p>


		<%= image_tag 'treacy_sig.png', class: 'ui tiny image' %>
		<p>Treacy Evangelista</p>


		<%= image_tag 'cyan_sig.png', class: 'ui tiny image' %>
		<p>Cyan Villarin</p>


		<p>___________________</p>
		<p>Roy Vincent Canseco</p>
		<p>Thesis Adviser</p>
	</div>
	<div class="ui grid center aligned">
		<div class="three column row">
			<div class="column"></div>
			<div class="column">
				<br>
				<%= link_to 'Take the Survey', new_survey_path, class: "positive ui button" %>
			</div>
			<div class="column"></div>
		</div>
	</div>
</div>
