<div style="background-color: #F2F3F4; margin-top: 50px">	
	<footer class="ui container grid">
	    <div class="row">
	        <div class="sixteen wide column">
	            <div class="ui header tiny center aligned">
	                    <div class="sub header" style="margin-top: 50px; margin-bottom: 50px">
	                        &copy; Treacy Evangelista &nbsp; Cyan Villarin &nbsp; Roy Canseco
	                    	<br>
	                    	<br>
	                    	Service Science and Software Engineering 2017
	                    </div>
	                </div>
	        </div>
	    </div>
	</footer>
</div>